[submodule "anymal_c_simple_description"]
	path = anymal_c_simple_description
	url = git@github.com:mlisi1/anymal_c_simple_description.git
	branch = humble-floating-base
[submodule "haptiquad_ros2"]
	path = haptiquad_ros2
	url = git@github.com:mlisi1/haptiquad_ros2.git
[submodule "haptiquad_contacts"]
	path = haptiquad_contacts
	url = git@github.com:mlisi1/haptiquad_contacts.git
